.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  height: 100%;
  max-width: none;
  margin:0;
  display: flex;
  align-items: center;
}

.fixedwrapper {
  position: relative;
  right: 0%;
}

.titlelogo{
  height:30px;
  width:30px;
  margin: 0px 12px 0px 2px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  text-decoration:none;
}

.titlelogo:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration:none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 10px;
}

.imgC {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgC:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMw {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.0rem;
  line-height: 1.4;
}

.headingFooter {
  font-size: 1.0rem;
  line-height: 1.8;
}

.headingNavigation {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #808080;
  text-align: center;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.lightText p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.mobile-view {
  display: none;
}

.desktop-view {
    display: block;
}

.text-content {
  margin:20px 0px 20px 0px;
}

@media only screen and (max-width: 1094px) {
  .container {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
  }
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  .wrapper.fixed-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    display:none;
  }
  .scroll-wrapper {
    align-items: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #terminal .terminal {
    width: 100%;
    left: 25px;
  }
  .top-text p {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  #terminal .terminal .windowtitle .winbuttons{
    width: 60px;
  }
  #terminal .terminal {
    height: 600px;
    left: -10px;
  }
  .top-text p {
    font-size: 40px;
  }
}

#terminal #terminal-container .overlay {
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.3;
}
#terminal .terminal {
  position: relative;
  background: rgba(38, 38, 38, 0.8);
  width: 120%;
  height: 385px;
  right: 67px;
  top: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.55);
  margin: auto;
}
#terminal .terminal .windowtitle {
  background: linear-gradient(top, #dedede, #c0c0c0);
  width: calc(100% - 16px);
  height: 8%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1px 8px;
}
#terminal .terminal .windowtitle .winbuttons {
  position: relative;
  width: 15%;
  left: -5px;
  float: left;
  margin: 0;
}
#terminal .terminal .windowtitle .button {
  display: inline-block;
  text-align: center;
  width: 10px;
  height: 10px;
  border: 0.5px solid;
  border-radius: 100px;
  vertical-align: middle;
  margin: 3px 2px 3px 0;
}
#terminal .terminal .windowtitle #close {
  background: #e25544;
  border-color: #d84b3a;
}
#terminal .terminal .windowtitle #min {
  background: #f5b640;
  border-color: #e0a12b;
}
#terminal .terminal .windowtitle #max {
  background: #7cb058;
  border-color: #6fa44b;
}
#terminal .terminal .title {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: middle;
  top: 0.5px;
  left: -43px;
}
#terminal .terminal .prompt {
  font-size: 98%;
}
#terminal .terminal .user {
  color: #ea7e7d;
  letter-spacing: 0.002em;
  padding-right: 3px;
}
#terminal .terminal .at {
  color: #e8d880;
  padding-right: 2px;
}
#terminal .terminal .path {
  color: #7ecdcb;
  letter-spacing: 0.002em;
  padding-right: 2px;
}
#terminal .terminal .caret {
  color: #50cd70;
}
#terminal .message {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Source Code Pro", monospace;
  width: 95%;
  margin: auto;
  padding: 1.5vh 0 0;
  z-index: 999;
}
#terminal .message span {
  font-size: 90%;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.045em;
  margin-bottom: 1em;
}
#terminal .message span a {
  font-family: "Source Code Pro", monospace;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
}
#terminal .message form input {
  background: transparent;
  border: none;
  outline: none;
  caret-color: #50cd70;
}
#terminal .message form input:focus {
  color: rgba(255, 255, 255, 0.75);
}
#terminal .message .typed-cursor {
  color: rgba(255, 255, 255, 0.9);
}
#terminal a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
#terminal a:hover {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
}